<mat-toolbar class="footer">
  <mat-toolbar-row class="toolbar-row no-padding">
    <div class="brand-name">
      <img class="material-icons footer-mat-logo"/>
      <a class="footer-brand" id="brand" href="#"></a>
    </div>
    <div>
      <ul class="footer-pull-right">
        <li class="footer-items"><a>Terms of Use</a></li>
        <li class="footer-items"><a>Privacy</a></li>
        <li class="copy-right-permission">All rights reserved.</li>
        <li class="footer-items">version:{{version}}</li>
      </ul>
    </div>
  </mat-toolbar-row>
</mat-toolbar>